# Core n8n URL config(Cloudflare compatible)
N8N_HOST=URL_OF_YOUR_N8N_INSTANCE
N8N_PROTOCOL=https
N8N_PORT=5678

WEBHOOK_URL=URL_OF_YOUR_N8N_INSTANCE
N8N_BASE_EDITOR_URL=URL_OF_YOUR_N8N_INSTANCE_EDITOR

# Required behind Cloudflare
N8N_PROXY_HEADERS=true

# Database
POSTGRES_DB=n8n
POSTGRES_USER=changeme
POSTGRES_PASSWORD=generate-a-strong-password-and-put-it-here

# Security
N8N_ENCRYPTION_KEY=generate-a-strong-key-and-put-it-here
N8N_AGENT_SECRET=generate-a-strong-secret-and-put-it-here

# n8n basic auth(UI only)
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=n8nadmin
N8N_BASIC_AUTH_PASSWORD=generate-a-strong-password-and-put-it-here


