# -----------------
# Secrets
# -----------------
.env
.env.*
cloudflared/*.json

# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.db

# -----------------
# OS
# -----------------
.DS_Store
Thumbs.db

# -----------------
# IDE
# -----------------
.vscode/
.idea/
